@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("Films", "Index", "Film", new { area = "Films" }, "")</li>
        @if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Customers", "Index", "Customer", new { area = "Customers" }, "")</li>
        }
        <li>@Html.ActionLink("Active Rentals", "Index", "Rental", new { area = "Rentals" }, "")</li>
    </ul>
}